@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

html {
  -webkit-text-size-adjust: 100%;
}

@theme inline {
  --text-3xl: 2rem;
  --color-success: #16A34A;
  --color-background: var(--background);
  --color-container: #F7F7F7;
  --color-foreground: var(--foreground);
  --color-warning: #F2CE62;
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-dark: var(--destructive-dark);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-ternary: var(--ternary)
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-2lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-primary: 0px 38.67px 84.16px -18.2px rgb(31 60 60 / 0.5);
  --shadow-prompt-input: 
  0px 24px 24px -8px #2A334608,
  0px 5px 5px -2.5px #2A334608,
  0px 3px 3px -1.5px #2A33460A,
  0px 2px 2px -1px #2A33460A,
  0px 1px 1px -0.5px #2A334608,
  0px 0px 0px 1px #0E3F7E0F;
  --color-section: var(--section);
  --color-body: var(--body);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #173DBA;
  --primary-rgba: rgba(31, 60, 60, 0.5);
  --primary-foreground: oklch(0.985 0 0);
  --secondary:#2447D5;
  --secondary-light: #ECF4EC;
  --secondary-foreground: #173DBA;
  --ternary: oklch(0.8192 0.0645 148.41);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: #868C98;
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: #173DBA;
  --destructive: #EF4444;
  --destructive-dark: #DC2626;
  --border: #E2E8F0;
  --input: oklch(0.92 0.004 286.32);
  --ring: #173DBA;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #FFFFFF;
  --sidebar-onboarding: #F0F0F0; 
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: #173DBA;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: #173DBA;
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --section: #FAFAFA;
  --stroke:#2447D5;
  --dots:#CBD5E1;
  --tags:#BCDBFF;
  --body: #F9FAFB;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: #173DBA;
  --card-foreground: oklch(0.985 0 0);
  --popover: #173DBA;
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-rgb: 31, 60, 60;
  --primary-foreground: #173DBA;
  --secondary: #2447D5;
  --secondary-light: #ECF4EC;
  --secondary-foreground: oklch(0.985 0 0);
  --ternary: oklch(0.8192 0.0645 148.41);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: #868C98;
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: #EF4444;
  --destructive-dark: #DC2626;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #173DBA;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #173DBA;
  --sidebar-onboarding: #F0F0F0; 
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --section: oklch(12% 0.002 247.84);
  --stroke: #8EA4FF;
  --dots: #475569; 
  --tags: #1E3A8A; 
  --body: #202020;
}

/* Start of Custom Scrollbar */
.sidebar-onboarding {
  --sidebar: var(--sidebar-onboarding);
  --sidebar-border: var(--sidebar-onboarding);
}

/* Custom scrollbar (modern browsers) */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 30px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7
}
/* End of Custom Scrollbar */

/* Start of hide default icon type password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-reveal-button {
  display: none;
}

input[type="password"] {
  /* Optional: Remove extra padding caused by built-in icon */
  padding-right: 0.75rem;
}
/* End of hide default icon type password */

.popover-content-width-full {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

.select-content-width-full {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.prose-container {
  @apply 
    prose
    max-w-none
    text-xs lg:text-sm text-foreground font-medium
    prose-p:text-foreground
    prose-p:text-xs prose-p:lg:text-sm
    prose-li:text-foreground
    prose-li:text-xs prose-li:lg:text-sm
    prose-strong:text-foreground
    prose-a:text-foreground
    prose-h1:text-foreground
    prose-h2:text-foreground
    prose-h3:text-foreground
    prose-h4:text-foreground
    prose-blockquote:text-foreground
    [&>li::marker]:text-foreground
}

.border-angular-gradient {
  background: conic-gradient(
    from 180deg,
    #F3BF5D90,
    #EECA6E90,
    #FFBA7190,
    #EECA6E90,
    #FAFF6790,
    #FFBA7190,
    #FFBA7190
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  p,
  li {
    @apply text-sm lg:text-base text-muted-foreground font-normal
  }
  li::marker {
    color: var(--color-foreground) !important;
  }
  .muted-marker li::marker {
    color: var(--color-muted-foreground) !important;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  h1,h2,h3 {
    @apply tracking-tighter
  }
}

@layer utilities {
  .custom-container {
    @apply w-full max-w-[1200px] mx-auto;
  }

  .label-required::after {
    content: '*';
    color: theme('colors.red.500');
    margin-left: -0.2rem; /* sama seperti ml-1 */
  }

  /* Start of Hide Scrollbar */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

    /* Webkit Browsers */
    overflow: -moz-scrollbars-none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* End of Hide Scrollbar */

  @media (min-width: 640px) {
    /* Start of Show Scrollbar */
    .hide-scrollbar {
      scrollbar-width: auto; /* Firefox */
      -ms-overflow-style: auto; /* IE 10+ */
      overflow: auto;
    }
  
    .hide-scrollbar::-webkit-scrollbar {
      display: initial; /* default behavior, shows the scrollbar */
    }
    /* End of Show Scrollbar */
  }


  /* Hide scrollbar on mobile only */
  @media (max-width: 768px) {
    .hide-scrollbar-mobile {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
      overflow: -moz-scrollbars-none;
    }

    .hide-scrollbar-mobile::-webkit-scrollbar {
      display: none;
    }
  }
}